<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820238938907-hprndks41hda6ijp5jo424j8v69g1q7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820238938907-hprndks41hda6ijp5jo424j8v69g1q7g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>820238938907-qd2a764sj20vs6153gg18biup5onb2ro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASVA0_lDML8tr6NVyRUp_vvLw5rJs2iSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>820238938907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.websockets</string>
	<key>PROJECT_ID</key>
	<string>tarea-agence</string>
	<key>STORAGE_BUCKET</key>
	<string>tarea-agence.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820238938907:ios:124b3c52b8c2cea74b99be</string>
</dict>
</plist>